{% extends "layout.html" %}
{% block body %}
<p>Here is a simple PCA result</p>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>

{{ fig_script|indent(4)|safe }}
{{ fig_div|safe }}
{% endblock %}
